@import '~antd/dist/antd.css';

.headingAccount {
  font-size: xx-large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.mainDivAccount {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cardBothAccount {
  flex: 40%;
  margin: 5px;
}
.textCenterAccount {
  text-align: center;
}
.textMargin {
  text-align: center;
  margin-top: 10px;
}
