@import "~antd/dist/antd.css";

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background-image: url("https://res.cloudinary.com/dx0wpoeyu/image/upload/v1567675657/JMMLogo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 16px;
}

.headerLogo {
  width: 120px;
  height: 40px;
  background-image: url("https://res.cloudinary.com/dx0wpoeyu/image/upload/v1567675657/JMMLogo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 16px 24px 16px 0;
}

.headerDivLogo{
  display:flex;
  width:100%;
  justify-content: center;
}