@import '~antd/dist/antd.css';

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  margin-left: 5px;
  color: black;
  z-index: 10;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  display: flex;
  width: 100%;
  height: 100px;
  background-image: url('https://res.cloudinary.com/dx0wpoeyu/image/upload/v1591423480/Dashboard%20Online/jmm_png.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
}

.headerDivLogo {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://res.cloudinary.com/dx0wpoeyu/image/upload/v1591423480/Dashboard%20Online/jmm_png.png');
}

.ant-layout-sider {
  background-image: url('https://res.cloudinary.com/dx0wpoeyu/image/upload/v1575461310/sideBar.jpg');
  background-size: cover;
}

.ant-menu-dark {
  background-color: transparent;
}

.overflowAuto {
  overflow: auto;
}

.layoutParent {
  width: 100%;
  height: 100%;
  /* background: 'linear-gradient(to right, #de6161, #2657eb)' */
}

.layoutHeader {
  /* background: 'linear-gradient(to right, #780206, #061161)', */
  background: white;
  padding: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
}
.layoutContent {
  margin: 65px 16px;
  padding-top: 15px;
  height: 100%;
}
