@import '~antd/dist/antd.css';

.colorWhite {
  color: white;
}

.custom-tooltip {
  background-color: rgba(0, 0, 0, 0.2);
}

.label {
  color: black;
  opacity: 1;
}

.mainApp {
  display: flex;
  flex-direction: column;
}

.overViewCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.collectionCard {
  flex: 40%;
  margin: 5px;
  /* text-align: center; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(45deg, #c31432, #1832c4, #240b36);
}

.collectionCardH1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  margin: 0px;
  color: white;
}

.barChart {
  display: flex;
  padding-right: 24px;
}

.textCenterChart {
  font-family: 'Brush Script MT', cursive;
  text-align: center;
}

@media only screen and (min-width: 486px) {
  .card-tree {
    flex: 40%;
    margin: 5px;
    width: 40%;
  }
}

@media only screen and (max-width: 485px) {
  .card-tree {
    flex: 100%;
    margin: 5px;
  }
}
